<div>
  <%= form_tag @baggage_list, :method => :put, :remote => true do %>
    <table width="100%">
      <tbody>
        <% baggage_list_items.each do |k, v| %>
          <tr>
            <td height="30"><strong><%= k %>：</strong></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <% circles = v.length%4 != 0 ? v.length : v.length/4+1  %>
          <% circles.times do |i| %>
            <tr>
              <% for j in i*4..(i*4+3) %>
                <% break if j >= v.length %>
                <td><%= check_box_tag "checked_items[]", v[j], is_checked?(@baggage_list, v[j]) %><%= v[j] %></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>

        <!--notation-->
        <tr>
          <td height="30"><strong>备 注</strong></td>
          <td></td>
        </tr>

        <tr>
          <td colspan="4">
            <%= text_area_tag "notation", @baggage_list.notation, :style => "width:500px;height:50px;" %>
          </td>
        </tr>

      </tbody>
    </table>

    <style>
      .create_btn{text-align:left;padding:10px 0;}
    </style>

    <div class="create_btn">
      <%= submit_tag '保存', :style => "width:80jpx;" %>
      <%= link_to '返回', @baggage_list, :remote => true, :class => "blue" %>
    </div>
  <% end %>
</div>
