<%= form_tag '', :name => "frmAdd", :id => "frmAdd" do %>
  <ul class="uf_add_activity">
    <li>
      <span> 标题：</span>
      <div>
        <%= text_field_tag "name" %>
        <b class="o">*</b>
      </div>
    </li>

    <li>
      <span> 说明：</span>
      <div>
        <%= text_area_tag "description", "" ,:onblur => "addOnblur()", :onfocus => "addOnfocus()" %>
      </div>
    </li>

    <li>
      <span> 时间：</span>
      <div id="times">
        <%= text_field_tag "starts" %>～<%= text_field_tag "ends" %>如：08:22~12:30
      </div>
    </li>

    <li>
      <span> 预算：</span>
      <div><%= text_field_tag "costs" %>人均预算(RMB)</div>
    </li>

    <li>
      <span></span>
      <div>
        <%= button_to_function "保存", "activity.save();", :onmouseover => "this.className='btn btn_def_hv'", :onmourseout => "this.className='btn btn_def'", :class => "btn btn_def" %>
        <%= button_to_function "返回", "activity.cancel();", :onmouseover => "this.className='btn btn_gray_hv'", :onmouseout => "this.className='btn btn_gray'", :class => "btn btn_gray" %>
      </div>
    </li>
  </ul>
  <%= hidden_field_tag "schedule_id" %>
  <%= hidden_field_tag "link_type" %>
  <%= hidden_field_tag "link_id" %>
<% end %>
