<div id="navMenu">
  <ul>
    <% Journey.journey_types.each do |key, value| %>
      <li id="<%= key=='scenic' ? "menu_scenic" : key %>" class="<%= key=='scenic' ? "current" : "" %>" key="<%= key %>"><%= value %></li>
    <% end %>
  </ul>

  <div style="margin-right:5px; margin-top:2px;" class="right">
    <%= link_to_function "[关闭]", "closeThis(#{@schedule.id})" %>
  </div>
  <div class="clear"></div>
</div>

<%= render 'journeys/loading' %>

<div style="display: block;" class="box" id="box_scenic">
  <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="scenic_header">
    <div style="line-height:26px;" class="left">
      目的城市：
      <% if places = @schedule.plan.places %>
        <span id="planed_citys_menu">
          <% places.each do |place| %>
            <!-- ajax 会更新此段代码 -->
            <%= link_to_function place.name, "getScenicSubList(#{place.id})", :class => "blue uline" %>
          <% end %>
        </span>
      <% end %>
      <%= link_to_function '更多城市', "getChinaCitys()", :class => "blue uline" %>
    </div>

    <div style="margin-top:-2px;" class="right">
      <input type="text" id="keyword_scenic" style="margin:0;"><input type="image" onclick="searchScenic();" style="border:none;" src="/images/btn_search.gif">

    </div>
  </div>

  <div id="scenic_home">
  </div>



  <div style="margin-top:5px;" class="clear" id="scenic_data">

    <ul class="travel_commend_list">
      <li>
        <a onclick="getScenicSubList(239840);" class="logo" href="javascript:void(0);"><img width="80" height="80" title="查看下级包含景点" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20110401/23059831_TtJpkV.jpg"></a>
        <a title="访问景点详情" href="/lvyou/langbapu" class="blue" target="_blank">浪巴铺土林</a>
        <br>
        <a onclick="activity.add(239840);" href="javascript:void(0);"><img src="/images/btn_add_travel_mini2.png"></a>
      </li>
      <li>
        <a onclick="getScenicSubList(3925);" class="logo" href="javascript:void(0);"><img width="80" height="80" title="查看下级包含景点" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20110331/23059641_hwwdpX.jpg"></a>
        <a title="访问景点详情" href="/lvyou/lufeng/konglonghuashi" class="blue" target="_blank">恐龙化石遗址</a>
        <br>
        <a onclick="activity.add(3925);" href="javascript:void(0);"><img src="/images/btn_add_travel_mini2.png"></a>
      </li>
      <li>
        <a onclick="getScenicSubList(3943);" class="logo" href="javascript:void(0);"><img width="80" height="80" title="查看下级包含景点" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20110401/23059830_EhJOxF.jpg"></a>
        <a title="访问景点详情" href="/lvyou/hutiaotan" class="blue" target="_blank">虎跳滩土林</a>
        <br>
        <a onclick="activity.add(3943);" href="javascript:void(0);"><img src="/images/btn_add_travel_mini2.png"></a>
      </li>

      <li>
        <a onclick="getScenicSubList(3938);" class="logo" href="javascript:void(0);"><img width="80" height="80" title="查看下级包含景点" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20110401/23059846_cDZhE8.jpg"></a>
        <a title="访问景点详情" href="/lvyou/chuxiong/ailaoshan" class="blue" target="_blank">哀牢山</a>
        <br>
        <a onclick="activity.add(3938);" href="javascript:void(0);"><img src="/images/btn_add_travel_mini2.png"></a>
      </li>

    </ul>

    <div class="clear">
      <table cellspacing="0" cellpadding="0" border="0" align="center">
        <tbody><tr>
            <td style="padding:2px 5px 0 5px;"><img src="/themes/main/images/ico_arrow_l.gif"></td>
            <td width="1" nowrap="nowrap" bgcolor="#cccccc"></td>
            <td align="center" style="padding:2px 9px 0 8px; cursor:pointer;color:#FF6600;background='#ffffff'"><b>1</b></td>
            <td width="1" nowrap="nowrap" bgcolor="#cccccc"></td>
            <td align="center" onmouseout="this.style.background='#FFFFFF'" onmouseover="this.style.background='#D9FF66'" style="padding:2px 9px 0 8px; cursor:pointer;"><b><a url="2" onclick="getPlanedScenic('2');" href="javascript:void(0);">2</a></b></td>
            <td width="1" nowrap="nowrap" bgcolor="#cccccc"></td>
            <td align="center" onmouseout="this.style.background='#FFFFFF'" onmouseover="this.style.background='#D9FF66'" style="padding:2px 9px 0 8px; cursor:pointer;"><b><a url="2" onclick="getPlanedScenic('2');" href="javascript:void(0);">下页</a></b></td>
            <td width="1" nowrap="nowrap" bgcolor="#cccccc"></td>
            <td align="center" onmouseout="this.style.background='#FFFFFF'" onmouseover="this.style.background='#D9FF66'" style="padding:2px 9px 0 8px; cursor:pointer;"><b><a url="2" onclick="getPlanedScenic('2');" href="javascript:void(0);">尾页</a></b></td>
            <td width="1" nowrap="nowrap" bgcolor="#cccccc"></td>
            <td height="16" style="padding:2px 5px 0 5px;"><img src="/themes/main/images/ico_arrow_r.gif"></td>
          </tr>
    </tbody></table>			</div>

    <div style="padding:5px;border-top: 1px dashed #CCCCCC;"><strong>操作说明：</strong>点击景点图片进入查看下级包含景点，点击景点名称进入该景点最终页查看详情</div>
  </div>

  <div class="activity_add" id="scenic_add" style="display: none;">
    <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="scenic_details"></div>
  </div>
</div>

<div class="box" id="box_hotel" style="display: none;">
  <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="hotel_header">
    <div style="line-height:26px;" class="left">
      目的城市：
      <span id="planed_citys_menu_hotel">
        <!-- ajax 会更新此段代码 -->
        <a class="blue uline" onclick="hotel.home('楚雄');" href="javascript:void(0);">楚雄</a>&nbsp;&nbsp;
        <!-- ajax 会更新此段代码 -->
        <a class="blue uline" onclick="hotel.home('巴黎');" href="javascript:void(0);">巴黎</a>&nbsp;&nbsp;
      </span>

      <a class="blue uline" onclick="hotel.citys();" href="javascript:void(0);">更多城市&gt;&gt;</a>&nbsp;&nbsp;
    </div>

    <div style="margin-top:-2px;" class="right">
      <input type="text" id="keyword_hotel" style="margin:0;"><input type="image" onclick="hotel.search();" style="border:none;" src="/images/btn_search.gif">
    </div>
  </div>


  <!-- 酒店搜索 -->



  <div style="margin-top:5px; " class="clear" id="hotel_data">
    <div style="margin:20px 10px;">

      <div style="margin:5px;">打算在那里住？</div>

      <ul class="travel_commend_list">
        <li>
          <a onclick="hotel.getCityHotelTypes('楚雄');" class="logo" href="javascript:void(0);"><img width="80" height="80" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20110403/23059968_OPs7jB.jpg"></a>
          <a title="楚雄" onclick="hotel.getCityHotelTypes('楚雄');" class="blue" href="javascript:void(0);">楚雄</a>
        </li>
        <li>
          <a onclick="hotel.getCityHotelTypes('巴黎');" class="logo" href="javascript:void(0);"><img width="80" height="80" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20101221/23043069_KFGzfx.jpg"></a>
          <a title="巴黎" onclick="hotel.getCityHotelTypes('巴黎');" class="blue" href="javascript:void(0);">巴黎</a>
        </li>
      </ul>

    </div>
  </div>

  <div class="activity_add" id="hotel_add">
    <div class="box details" style="margin: 5px; float: left; width: 300px; overflow: hidden; display: none;" id="hotel_details"></div>
</div>    </div>

<div class="box" id="box_flight" style="display: none;">
  <!-- flight -->
  <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="flight_header">
    <div style="margin-top:-2px;" class="left">
      出发地： <input type="text" id="flight_origin" style="margin:0;">
      目的地： <input type="text" id="flight_destination" style="margin:0;"><input type="image" onclick="searchFlight();" style="border:none;" src="/images/btn_search.gif">                    
    </div>
  </div>

  <div id="flight_home">
  </div>
  <div style="margin-top:5px;" class="clear" id="flight_data">
    <div style=" text-align:center; margin:60px 0;">
      请输入出发地和目的地查找航班信息。
    </div>
  </div>
  <div class="activity_add" id="flight_add">
    <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="flight_details"></div>
  </div>
  <!-- //flight -->
</div>

<div class="box" id="box_train" style="display: none;">
  <!-- train -->
  <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="train_header">
    <div style="margin-top:-2px;" class="left">
      出发地： <input type="text" id="train_from" style="margin:0;">
      目的地： <input type="text" id="train_to" style="margin:0;"><input type="image" onclick="searchTrain();" style="border:none;" src="/images/btn_search.gif">                    
    </div>
  </div>

  <div id="train_home">
  </div>
  <div style="margin-top:5px;" class="clear" id="train_data">
    <div style=" text-align:center; margin:60px 0;">
      请输入出发地和目的地查找列车信息。
    </div>
  </div>
  <div class="activity_add" id="train_add">
    <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="train_details"></div>
  </div>
  <!-- //train -->    </div>

<div class="box" id="box_restaurant" style="display: none;">
  <!-- restaurant -->
  <div id="restaurant_home">
  </div>
  <div style="margin-top:5px;" class="clear" id="restaurant_data">
  </div>
  <div class="activity_add" id="restaurant_add">
    <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="restaurant_details"></div>
  </div>
  <!-- //restaurant -->
</div>

<div class="box" id="box_ent" style="display: none;">
  <!-- ent -->
  <div id="ent_home">
  </div>
  <div style="margin-top:5px;" class="clear" id="ent_data">
  </div>
  <div class="activity_add" id="ent_add">
    <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="ent_details"></div>
  </div>
  <!-- //ent -->
</div>

<div class="box" id="box_other" style="display: none;">
  <!-- other -->
  <div id="other_home">
  </div>
  <div style="margin-top:5px;" class="clear" id="other_data">
  </div>
  <div class="activity_add" id="other_add">
    <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="other_details"></div>
  </div>
  <!-- //other -->
</div>

<div style="margin:5px; float:left; display:none;" id="addActivity">
  <form method="post" name="frmAdd" id="frmAdd">
    <ul class="uf_add_activity">
      <li>
        <span> 标题：</span>
        <div><input type="text" style="width:180px;" value="" id="title" name="title"><b class="o">*</b></div>
      </li>

      <li>
        <span> 说明：</span>
        <div><textarea onblur="this.style.height='60px';this.style.position='relative';this.style.width='180px';$('#times').show();" onfocus="$('#times').hide();this.style.height='120px';this.style.position='absolute';this.style.width='320px';" style="width:180px; height:60px; z-index:999;" id="description" name="description"></textarea></div>
      </li>

      <li>
        <span> 时间：</span>
        <div id="times">
          <input type="text" style=" width:50px;margin-right:5px;" value="" id="starts" name="starts">～<input type="text" style="width:50px;margin-left:5px;" value="" id="ends" name="ends">如：08:22~12:30</div>
      </li>

      <li>
        <span> 预算：</span>
        <div><input type="text" style="width:50px;" value="" id="costs" name="costs">人均预算(RMB)</div>
      </li>

      <li>
        <span></span>
        <div>
          <input type="button" onclick="activity.save();" onmouseover="this.className='btn btn_def_hv'" onmouseout="this.className='btn btn_def'" class="btn btn_def" value="保存" name="button">

          <input type="button" onclick="activity.cancel();" onmouseover="this.className='btn btn_gray_hv'" onmouseout="this.className='btn btn_gray'" class="btn btn_gray" value="返回" name="button">
        </div>
      </li>
    </ul>
    <input type="hidden" value="103644" id="dayid" name="dayid">
    <input type="hidden" value="" id="linktype" name="linktype">
    <input type="hidden" value="" id="linkid" name="linkid">
  </form>
</div>
