<div id="navMenu">
  <ul>
    <% Journey.journey_types.each do |key, value| %>
      <li id="<%= key=='scenic' ? "menu_scenic" : key %>" class="<%= key=='scenic' ? "current" : "" %>" key="<%= key %>"><%= value %></li>
    <% end %>
  </ul>

  <div style="margin-right:5px; margin-top:2px;" class="right">
    <% unless @schedule == nil %>
      <%= link_to_function "[关闭]", "closeThis(#{@schedule.id})" %>
    <% end %>
  </div>
  <div class="clear"></div>
</div>

<%= render 'journeys/loading' %>

<div style="display: block;" class="box" id="box_scenic">
  <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="scenic_header">
    <%= render 'journeys/target_city' %>
    <div style="margin-top:-2px;" class="right">
      <input type="text" id="keyword_scenic" style="margin:0;"><input type="image" onclick="searchScenic();" style="border:none;" src="/images/btn_search.gif">
    </div>
  </div>

  <div id="scenic_home">
  </div>

  <div style="margin-top:5px;" class="clear" id="scenic_data">
  </div>

  <div class="activity_add" id="scenic_add" style="display: none;">
    <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="scenic_details"></div>
  </div>
</div>

<div class="box" id="box_hotel" style="display: none;">
  <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="hotel_header">
    <%= render 'journeys/target_city' %>

    <div style="margin-top:-2px;" class="right">
      <input type="text" id="keyword_hotel" style="margin:0;"><input type="image" onclick="hotel.search();" style="border:none;" src="/images/btn_search.gif">
    </div>
  </div>


  <!-- 酒店搜索 -->
  <div style="margin-top:5px; " class="clear" id="hotel_data">
    <div style="margin:20px 10px;">
      <div style="margin:5px;">打算在那里住？</div>
      <ul class="travel_commend_list">
        <li>
          <a onclick="hotel.getCityHotelTypes('楚雄');" class="logo" href="javascript:void(0);"><img width="80" height="80" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20110403/23059968_OPs7jB.jpg"></a>
          <a title="楚雄" onclick="hotel.getCityHotelTypes('楚雄');" class="blue" href="javascript:void(0);">楚雄</a>
        </li>
        <li>
          <a onclick="hotel.getCityHotelTypes('巴黎');" class="logo" href="javascript:void(0);"><img width="80" height="80" onerror="this.src='/images/noimg.80.png';" src="http://5.pic.lvren.cn/scenic/80_80/20101221/23043069_KFGzfx.jpg"></a>
          <a title="巴黎" onclick="hotel.getCityHotelTypes('巴黎');" class="blue" href="javascript:void(0);">巴黎</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="activity_add" id="hotel_add">
    <div class="box details" style="margin: 5px; float: left; width: 300px; overflow: hidden; display: none;" id="hotel_details"></div>
  </div>    
</div>

<div class="box" id="box_flight" style="display: none;">
  <!-- flight -->
  <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="flight_header">
    <div style="margin-top:-2px;" class="left">
      出发地： <input type="text" id="flight_origin" style="margin:0;">
      目的地： <input type="text" id="flight_destination" style="margin:0;"><input type="image" onclick="searchFlight();" style="border:none;" src="/images/btn_search.gif">                    
    </div>
  </div>

  <div id="flight_home">
  </div>
  <div style="margin-top:5px;" class="clear" id="flight_data">
    <div style=" text-align:center; margin:60px 0;">
      请输入出发地和目的地查找航班信息。
    </div>
  </div>
  <div class="activity_add" id="flight_add">
    <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="flight_details"></div>
  </div>
  <!-- //flight -->
</div>

<div class="box" id="box_train" style="display: none;">
  <!-- train -->
  <div style=" height:26px; border-bottom:#eaeaea 1px solid;" id="train_header">
    <div style="margin-top:-2px;" class="left">
      出发地： <input type="text" id="train_from" style="margin:0;">
      目的地： <input type="text" id="train_to" style="margin:0;"><input type="image" onclick="searchTrain();" style="border:none;" src="/images/btn_search.gif">                    
    </div>
  </div>

  <div id="train_home">
  </div>
  <div style="margin-top:5px;" class="clear" id="train_data">
    <div style=" text-align:center; margin:60px 0;">
      请输入出发地和目的地查找列车信息。
    </div>
  </div>
  <div class="activity_add" id="train_add">
    <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="train_details"></div>
  </div>
  <!-- //train -->    </div>

<div class="box" id="box_restaurant" style="display: none;">
  <!-- restaurant -->
  <div id="restaurant_home">
  </div>
  <div style="margin-top:5px;" class="clear" id="restaurant_data">
  </div>
  <div class="activity_add" id="restaurant_add">
    <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="restaurant_details"></div>
  </div>
  <!-- //restaurant -->
</div>

<div class="box" id="box_ent" style="display: none;">
  <!-- ent -->
  <div id="ent_home">
  </div>
  <div style="margin-top:5px;" class="clear" id="ent_data">
  </div>
  <div class="activity_add" id="ent_add">
    <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="ent_details"></div>
  </div>
  <!-- //ent -->
</div>

<div class="box" id="box_other" style="display: none;">
  <!-- other -->
  <div id="other_home">
  </div>
  <div style="margin-top:5px;" class="clear" id="other_data">
  </div>
  <div class="activity_add" id="other_add">
    <div class="box details" style="margin: 5px; float: left; width: 260px; overflow: hidden; display: none;" id="other_details"></div>
  </div>
  <!-- //other -->
</div>

<div style="margin:5px; float:left; display:none;" id="addActivity">
  <%= render 'journeys/add_form' %>
</div>
