<%= form_for(@plan, :validate => true) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% @plan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="stdForm">
    <li>
      <div class="name">旅行计划：</div>
      <div class="content">
        <%= f.text_field :name, :size => 50%>
        <div class="memo">给旅行计划取个“拉轰”的名字,^_^</div>
      </div>
    </li>

    <li>
      <div class="name">说明：</div>
      <div class="content">
        <%= f.text_area :description, :rows => 5, :cols => 60%>
        <div class="memo">推荐200~300字</div>
      </div>
    </li>

    <li>
      <div class="name">目的地：</div>
      <div class="content">
        <% if !!@plan.places %>
          <%= f.autocomplete_field :places, plans_autocomplete_place_name_path, 'data-delimiter' => ',', :size => 70, :value => @plan.places.inject(sum=""){ |sum,p| sum+p.name+"," } %>
        <% else %>
          <%= f.autocomplete_field :places, plans_autocomplete_place_name_path, 'data-delimiter' => ',', :size => 70 %>
        <% end %>
      </div>
    </li>

    <li>
      <div class="name">出发地：</div>
      <div class="content">
        <%= f.text_field :start_off_place, :size => 20 %>
      </div>
    </li>

    <li>
      <div class="name">出发日期：</div>
      <div class="content">
        <% if !!@plan.places %>
          <%= f.text_field :start_off_date, :value => @plan.start_off_date.to_s %>
        <% else %>
          <%= f.text_field :start_off_date %>
        <% end %>
      </div>
    </li>

    <li>
      <div class="name">人数：</div>
      <div class="content">
        <%= f.text_field :people_num, :size => 10 %>
      </div>
    </li>

    <li>
      <div class="name">旅行类型：</div>
      <div class="content">
        <%= select( :plan, "travel_type_id", TravelType.all.collect {|type| [ type.name, type.id ] } ) %>
      </div>
    </li>

    <li>
      <div class="content">
        <div class="input">
          <div id="btnBox">
            <%= f.submit "保存", :class => 'btn btn_def' %>
            <%= link_to '返回', plans_path, :class => 'btn btn_gray' %>
          </div>
        </div>
      </div>
    </li>
  </ul>

<% end %>
