<div id="container">

  <div style="background:#fff; background-image:none; ">
    <img src="/images/plan.main.4.jpg">
  </div>

  <div id="main" class="new">

    <div class="sbox">
      <div class="stitle">
        <strong>热门计划</strong>
      </div>

      <div class="sbody">
        <ul>
          <li style="width:130px; float:left; text-align:center; line-height:2em;">
            <a href="/plan/522955/" title="上海市内精华景点游" class="logo" style="width:104px;"><img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522955_1308551026.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
            <a href="/plan/522955/" title="上海市内精华景点游" class="blue uline">上海市内精华景点游</a>
            <br>
            <a href="http://www.lvren.cn/user/442547/">李贺</a>
          </li>
          <li style="width:130px; float:left; text-align:center; line-height:2em;">
            <a href="/plan/522740/" title="羊城广州四日游" class="logo" style="width:104px;"><img src="http://5.pic.lvren.cn/plan_logo/100_100/20110603/522740_1307095367.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
            <a href="/plan/522740/" title="羊城广州四日游" class="blue uline">羊城广州四日游</a>
            <br>
            <a href="http://www.lvren.cn/user/1277800/">陈思旭</a>
          </li>
          <li style="width:130px; float:left; text-align:center; line-height:2em;">
            <a href="/plan/522737/" title="贵阳一日悠闲游" class="logo" style="width:104px;"><img src="http://5.pic.lvren.cn/plan_logo/100_100/20110603/522737_1307094769.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
            <a href="/plan/522737/" title="贵阳一日悠闲游" class="blue uline">贵阳一日悠闲游</a>
            <br>
            <a href="http://www.lvren.cn/user/1268822/">吴琼</a>
          </li>
          <li style="width:130px; float:left; text-align:center; line-height:2em;">
            <a href="/plan/522733/" title="凤凰古城游" class="logo" style="width:104px;"><img src="http://5.pic.lvren.cn/plan_logo/100_100/20110603/522733_1307088447.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
            <a href="/plan/522733/" title="凤凰古城游" class="blue uline">凤凰古城游</a>
            <br>
            <a href="http://www.lvren.cn/user/442547/">李贺</a>
          </li>
          <li style="width:130px; float:left; text-align:center; line-height:2em;">
            <a href="/plan/522731/" title="西双版纳四日休闲度假" class="logo" style="width:104px;"><img src="http://5.pic.lvren.cn/plan_logo/100_100/20110603/522731_1307087757.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
            <a href="/plan/522731/" title="西双版纳四日休闲度假" class="blue uline">西双版纳四日休闲度假</a>
            <br>
            <a href="http://www.lvren.cn/user/1276230/">张志超</a>
          </li>
        </ul>

      </div>
    </div>



    <div class="sbox">
      <div class="stitle">
        <strong>推荐计划</strong>
        <a href="/index.php?act=plan.plan_list">全部旅行计划&gt;&gt;</a>
      </div>

      <div class="sbody">
        <ul>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522977/" title="安庆山水三日游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110621/522977_1308634004.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522977/" title="安庆山水三日游" class="blue uline b" style="font-size:15px;">安庆山水三日游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/442547/">[李贺]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥320</span>&nbsp;共3天<br>
                      项目：7个<br>
                      <a href="/lvyou/yingjiangsi" class="gray">迎江寺</a> <a href="/lvyou/shitaishidi" class="gray">世太史第</a> <a href="/lvyou/linghugongyuan" class="gray">菱湖公园</a> <a href="/lvyou/anqing/tianzhushan" class="gray">天柱山</a> <a href="/lvyou/huatinghu" class="gray">花亭湖风景名胜区</a> <a href="/lvyou/wuqiannianwenboyuan" class="gray">五千年文博园</a> <a href="/lvyou/chenduxiulingyuan" class="gray">陈独秀陵园</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522966/" title="武汉三镇两日游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522966_1308556127.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522966/" title="武汉三镇两日游" class="blue uline b" style="font-size:15px;">武汉三镇两日游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/442547/">[李贺]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥603</span>&nbsp;共2天<br>
                      项目：9个<br>
                      <a href="/lvyou/guishanjingqu" class="gray">龟山景区</a> <a href="/lvyou/guiyuanchansi" class="gray">归元禅寺</a> <a href="/lvyou/hanzhengjie" class="gray">汉正街</a> <a href="/lvyou/jiangtangongyuan" class="gray">江滩公园</a> <a href="/lvyou/qingchuange" class="gray">武汉晴川阁</a> <a href="/lvyou/huanghelou" class="gray">黄鹤楼</a> <a href="/lvyou/changjiangdaqiao" class="gray">武汉长江大桥</a> <a href="/lvyou/jianghanlu" class="gray">江汉路步行商业街</a> <a href="/lvyou/donghujingqu" class="gray">武汉东湖景区</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522964/" title="武汉两江线路游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522964_1308554533.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522964/" title="武汉两江线路游" class="blue uline b" style="font-size:15px;">武汉两江线路游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/424226/">[冷缘边界]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥95</span>&nbsp;共1天<br>
                      项目：5个<br>
                      <a href="/lvyou/jiangtangongyuan" class="gray">江滩公园</a> <a href="/lvyou/qingchuange" class="gray">武汉晴川阁</a> <a href="/lvyou/changjiangdaqiao" class="gray">武汉长江大桥</a> <a href="/lvyou/hanzhengjie" class="gray">汉正街</a> <a href="/lvyou/huanghelou" class="gray">黄鹤楼</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522963/" title="济南、泰山、曲阜三日游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522963_1308552362.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522963/" title="济南、泰山、曲阜三日游" class="blue uline b" style="font-size:15px;">济南、泰山、曲阜三日</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/1276230/">[张志超]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥490</span>&nbsp;共3天<br>
                      项目：6个<br>
                      <a href="/lvyou/kongmiao" class="gray">曲阜孔庙</a> <a href="/lvyou/qufusankongjingqu" class="gray">曲阜三孔景区</a> <a href="/lvyou/taishan" class="gray">泰山</a> <a href="/lvyou/baotuquan" class="gray">趵突泉公园</a> <a href="/lvyou/daminghu" class="gray">大明湖</a> <a href="/lvyou/quanchengguangchang" class="gray">泉城广场</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522961/" title="老上海风情街一日游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522961_1308552492.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522961/" title="老上海风情街一日游" class="blue uline b" style="font-size:15px;">老上海风情街一日游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/442547/">[李贺]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥100</span>&nbsp;共1天<br>
                      项目：4个<br>
                      <a href="/lvyou/fuzhoulu" class="gray">福州路文化街</a> <a href="/lvyou/duolunlu" class="gray">多伦路文化街</a> <a href="/lvyou/nanjinglu/buxingjie" class="gray">南京路步行街</a> <a href="/lvyou/waitan" class="gray">上海外滩</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522959/" title="哈尔滨两日游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522959_1308551251.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522959/" title="哈尔滨两日游" class="blue uline b" style="font-size:15px;">哈尔滨两日游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/1276230/">[张志超]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥440</span>&nbsp;共2天<br>
                      项目：8个<br>
                      <a href="/lvyou/shengsuofeiyajiaotang" class="gray">圣·索菲亚教堂</a> <a href="/lvyou/heilongjiang/dianshita" class="gray">龙塔</a> <a href="/lvyou/fanghongjinianta" class="gray">防洪纪念塔</a> <a href="/lvyou/zhongyangdajie" class="gray">中央大街</a> <a href="/lvyou/haerbin/jidiguan" class="gray">哈尔滨极地馆</a> <a href="/lvyou/taiyangdaogongyuan" class="gray">太阳岛公园</a> <a href="/lvyou/haerbin/ouya" class="gray">欧亚之窗公园</a> <a href="/lvyou/dongbei/hulinyuan" class="gray">东北虎林园</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522958/" title="大连一日闲逛路线" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522958_1308550607.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522958/" title="大连一日闲逛路线" class="blue uline b" style="font-size:15px;">大连一日闲逛路线</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/424226/">[冷缘边界]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥200</span>&nbsp;共1天<br>
                      项目：3个<br>
                      <a href="/lvyou/binhailu" class="gray">大连滨海路</a> <a href="/lvyou/laohutan" class="gray">大连老虎滩海洋公园</a> <a href="/lvyou/xinghaiguangchang" class="gray">星海广场</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522956/" title="西安西线一日游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522956_1308549742.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522956/" title="西安西线一日游" class="blue uline b" style="font-size:15px;">西安西线一日游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/424226/">[冷缘边界]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥216</span>&nbsp;共1天<br>
                      项目：3个<br>
                      <a href="/lvyou/famensi" class="gray">法门寺旅游区</a> <a href="/lvyou/qianling" class="gray">乾陵</a> <a href="/lvyou/maolingbowuguan" class="gray">茂陵博物馆</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522955/" title="上海市内精华景点游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522955_1308551026.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522955/" title="上海市内精华景点游" class="blue uline b" style="font-size:15px;">上海市内精华景点游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/442547/">[李贺]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥100</span>&nbsp;共1天<br>
                      项目：7个<br>
                      <a href="/lvyou/longhuasi" class="gray">龙华寺</a> <a href="/lvyou/renminguangchang" class="gray">上海人民广场</a> <a href="/lvyou/yuyuan" class="gray">上海豫园</a> <a href="/lvyou/nanjinglu/buxingjie" class="gray">南京路步行街</a> <a href="/lvyou/bowuguan/shanghai" class="gray">上海博物馆</a> <a href="/lvyou/waitan" class="gray">上海外滩</a> <a href="/lvyou/dongfang/mingzhu" class="gray">东方明珠广播电视塔</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522954/" title="哈尔滨休闲风光一日游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522954_1308548604.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522954/" title="哈尔滨休闲风光一日游" class="blue uline b" style="font-size:15px;">哈尔滨休闲风光一日游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/1276230/">[张志超]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥25</span>&nbsp;共1天<br>
                      项目：4个<br>
                      <a href="/lvyou/shengsuofeiyajiaotang" class="gray">圣·索菲亚教堂</a> <a href="/lvyou/fanghongjinianta" class="gray">防洪纪念塔</a> <a href="/lvyou/sidalingongyuan" class="gray">斯大林公园</a> <a href="/lvyou/zhongyangdajie" class="gray">中央大街</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522953/" title="西安全景两日游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522953_1308548886.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522953/" title="西安全景两日游" class="blue uline b" style="font-size:15px;">西安全景两日游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/424226/">[冷缘边界]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥333</span>&nbsp;共2天<br>
                      项目：8个<br>
                      <a href="/lvyou/xianbeilin" class="gray">西安碑林博物馆</a> <a href="/lvyou/guchengqiang/xian" class="gray">西安古城墙</a> <a href="/lvyou/xian/gulou" class="gray">西安钟鼓楼</a> <a href="/lvyou/lishi/shanxi" class="gray">陕西历史博物馆</a> <a href="/lvyou/dayanta" class="gray">大雁塔</a> <a href="/lvyou/xiaoyanta" class="gray">小雁塔</a> <a href="/lvyou/huaqingchi" class="gray">华清池</a> <a href="/lvyou/qinbingmayong" class="gray">秦兵马俑博物馆</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522952/" title="天津市区吃喝游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522952_1308548828.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522952/" title="天津市区吃喝游" class="blue uline b" style="font-size:15px;">天津市区吃喝游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/442547/">[李贺]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥212</span>&nbsp;共1天<br>
                      项目：5个<br>
                      <a href="/lvyou/guwenhuajie" class="gray">古文化街</a> <a href="/lvyou/tianjingulou" class="gray">天津鼓楼</a> <a href="/lvyou/cifangzi" class="gray">瓷房子</a> <a href="/lvyou/dajintaixiangshengchaguan" class="gray">大金台相声茶馆</a> <a href="/lvyou/tianjinzhiyan" class="gray">天津之眼摩天轮</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522951/" title="沈阳三日深度游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522951_1308545758.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522951/" title="沈阳三日深度游" class="blue uline b" style="font-size:15px;">沈阳三日深度游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/1276230/">[张志超]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥190</span>&nbsp;共3天<br>
                      项目：7个<br>
                      <a href="/lvyou/bowuguan/liaoningsheng" class="gray">辽宁省博物馆</a> <a href="/lvyou/zhangshishuaifu" class="gray">沈阳张氏帅府</a> <a href="/lvyou/jiuyiba" class="gray">沈阳九一八历史博物馆</a> <a href="/lvyou/beilinggongyuan" class="gray">沈阳市北陵公园</a> <a href="/lvyou/shenyanggugong" class="gray">沈阳故宫</a> <a href="/lvyou/guaipo" class="gray">沈阳怪坡风景区</a> <a href="/lvyou/qipanshan" class="gray">棋盘山国际风景旅游区</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522950/" title="沈阳精华一日游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522950_1308544393.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522950/" title="沈阳精华一日游" class="blue uline b" style="font-size:15px;">沈阳精华一日游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/1276230/">[张志超]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥106</span>&nbsp;共1天<br>
                      项目：5个<br>
                      <a href="/lvyou/shenyanggugong" class="gray">沈阳故宫</a> <a href="/lvyou/beilinggongyuan" class="gray">沈阳市北陵公园</a> <a href="/lvyou/zhangshishuaifu" class="gray">沈阳张氏帅府</a> <a href="/lvyou/jiuyiba" class="gray">沈阳九一八历史博物馆</a> <a href="/lvyou/bowuguan/liaoningsheng" class="gray">辽宁省博物馆</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522911/" title="成都访古两日游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110620/522911_1308541123.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522911/" title="成都访古两日游" class="blue uline b" style="font-size:15px;">成都访古两日游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/442547/">[李贺]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥163</span>&nbsp;共2天<br>
                      项目：5个<br>
                      <a href="/lvyou/jinshayizhi" class="gray">成都金沙遗址博物馆</a> <a href="/lvyou/dufucaotang" class="gray">杜甫草堂博物馆</a> <a href="/lvyou/qingyanggong" class="gray">青羊宫</a> <a href="/lvyou/wangjianggongyuan" class="gray">望江楼公园</a> <a href="/lvyou/wenshuyuan" class="gray">文殊院</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522900/" title="成都自行车走街串巷一日游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110617/522900_1308300974.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522900/" title="成都自行车走街串巷一日游" class="blue uline b" style="font-size:15px;">成都自行车走街串巷一</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/442547/">[李贺]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥233</span>&nbsp;共1天<br>
                      项目：6个<br>
                      <a href="/lvyou/kuanzhaixiangzi" class="gray">宽窄巷子</a> <a href="/lvyou/dufucaotang" class="gray">杜甫草堂博物馆</a> <a href="/lvyou/chunxilubuxingjie" class="gray">春熙路步行街</a> <a href="/lvyou/wangjianggongyuan" class="gray">望江楼公园</a> <a href="/lvyou/hejiangting" class="gray">合江亭</a> <a href="/lvyou/huoshuigongyuan" class="gray">活水公园</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522863/" title="北京出发，天津2日行" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110615/522863_1308111240.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522863/" title="北京出发，天津2日行" class="blue uline b" style="font-size:15px;">北京出发，天津2日行</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/442547/">[李贺]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥1025</span>&nbsp;共2天<br>
                      项目：6个<br>
                      <a href="/lvyou/tianjin/yanghuo" class="gray">天津洋货市场</a> <a href="/lvyou/guwenhuajie" class="gray">古文化街</a> <a href="/lvyou/tianjingulou" class="gray">天津鼓楼</a> <a href="/lvyou/shipinjie" class="gray">天津食品街</a> <a href="/lvyou/wudadao" class="gray">五大道</a> <a href="/lvyou/tianzhujiaoxi" class="gray">天主教西开总堂</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522842/" title="厦门3日游计划" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110614/522842_1308025145.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522842/" title="厦门3日游计划" class="blue uline b" style="font-size:15px;">厦门3日游计划</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/1276230/">[张志超]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥378</span>&nbsp;共3天<br>
                      项目：10个<br>
                      <a href="/lvyou/nanputuosi" class="gray">南普陀寺</a> <a href="/lvyou/shamendaxue" class="gray">厦门大学</a> <a href="/lvyou/nanjingtulou" class="gray">南靖土楼</a> <a href="/lvyou/riguangyan" class="gray">日光岩</a> <a href="/lvyou/qinyuan" class="gray">琴园</a> <a href="/lvyou/zhuanghuayuan" class="gray">菽庄花园</a> <a href="/lvyou/yueyuan" class="gray">皓月园</a> <a href="/lvyou/gulangyu" class="gray">鼓浪屿</a> <a href="/lvyou/haitiantanggou" class="gray">海天堂构</a> <a href="/lvyou/shamenzhongshanlu" class="gray">厦门中山路</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522832/" title="凤凰古城周边游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110613/522832_1307963268.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522832/" title="凤凰古城周边游" class="blue uline b" style="font-size:15px;">凤凰古城周边游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/442547/">[李贺]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥173</span>&nbsp;共2天<br>
                      项目：3个<br>
                      <a href="/lvyou/miaorengu" class="gray">苗人谷苗寨</a> <a href="/lvyou/qiliangdong" class="gray">奇梁洞</a> <a href="/lvyou/nanchangcheng" class="gray">中国南方长城</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
          <li style="float:left; width:300px; margin-right:20px; height:180px; line-height:1.5em;">
            <table width="100%">
              <tbody><tr>
                  <td width="110" valign="top">
                    <a href="/plan/522831/" title="南京郊区游" class="logo" style="width:104px;">
                      <img src="http://5.pic.lvren.cn/plan_logo/100_100/20110613/522831_1307962631.jpg" style="width:100px;height:100px" onerror="this.src='/images/travl.logo.100_100.png';"></a>
                  </td>
                  <td valign="top">
                    <div style="height:140px;overflow:hidden;">
                      <a href="/plan/522831/" title="南京郊区游" class="blue uline b" style="font-size:15px;">南京郊区游</a><br>
                      <a class="gray" href="http://www.lvren.cn/user/442547/">[李贺]</a>
                      <br>
                      出发<br>
                      <span class="currency o b">¥60</span>&nbsp;共2天<br>
                      项目：3个<br>
                      <a href="/lvyou/chunxilaojie" class="gray">高淳淳溪老街</a> <a href="/lvyou/nanjing/qixiashan" class="gray">南京栖霞山风景名胜区</a> <a href="/lvyou/zhenzhuquanfengjingqu" class="gray">珍珠泉风景区</a>                             </div>
                  </td>
                </tr>
            </tbody></table>
          </li>
        </ul>
      </div>
    </div>


    <div class="sbox">
      <div class="stitle">
        <strong>立即体验旅行计划</strong>
      </div>

      <div class="sbody">
        <div style="margin:10px 0;">一款用于在线安排旅行的工具，可以方便整理旅行的日程及主要游玩景点。</div>

        <ul class="plan-intro">
          <li>
            <%= image_tag 'ico-1.gif' %>
            <div class="desc">
              <b>安排日程 </b>
              <br>
              选出你每天的旅游日程，获得初步预算和当日行程地图。
            </div>	
          </li>
          <li>
            <%= image_tag 'ico-2.gif' %>
            <div class="desc">
              <b> 准备行李 </b>
              <br>
              一份超强的行李备忘录，旅行不再丢三落四。
            </div>
          </li>
          <li>
            <%= image_tag 'ico-3.gif' %>
            <div class="desc">
              <b>顾问指正 </b>
              <br>
              把你的计划贴出来，旅人网强大的旅游顾问团队会为你的计划完善指正。 
            </div>
          </li>
          <li>
            <%= image_tag 'ico-4.gif' %>
            <div class="desc">
              <b> 打印随行</b>
              <br>
              特别定制打印格式，方便随身携带，带上旅行计划出发吧。 
            </div>
          </li>
          <li>
            <%= image_tag 'ico-5.gif' %>
            <div class="desc">
              <b> 分享计划 </b>
              <br>
              将安排好的旅行计划发送给自己的好友，让好友一块参考。  
            </div>
          </li>

          <li>
            <%= image_tag 'ico-6.gif' %>
            <div class="desc">
              <b>快速复制</b>
              <br>
              看到别人的计划不错，点一下鼠标就可将喜欢的计划复制成自己的计划。

            </div>
          </li>
          <li>
            <%= image_tag 'ico-7.gif' %>
            <div class="desc">
              <b>行程推荐</b>
              <br>
              不知道应该怎么玩? 没有关系，我们有各种不同类型的行程供您选择。
            </div>
          </li>

          <li>
            <%= image_tag 'ico-8.gif' %>
            <div class="desc">
              <b>完全免费</b>
              <br>
              这是一个完全免费的工具。
            </div>
          </li>
        </ul>
      </div>

      <div class="smore">
        <a href="/plan/create_on">立即制作旅行计划&gt;&gt;</a>
      </div>

      <div class="clear"></div>
    </div>

  </div>




  <div id="right" class="new">
    <form method="GET" action="/plan/create_on/">
      <div style="width:278px;padding:10px 0 10px 0px;margin-top:10px;background:#FFFFCC; border:#FFCC33 1px solid;">
        <table width="100%">
          <tbody><tr><td><span style="font-size:14px;color:#FFAB12;font-weight:bold;padding-left:5px;">出发地</span></td><td><span style="font-size:14px;color:#FFAB12;font-weight:bold;padding-left:5px;">目的地</span></td></tr>
            <tr><td style="padding-left:5px;">
                <input name="origin" style="width:100px;border:solid 1px #FFAB12;">
                </td><td style="padding-left:5px;">
                <input name="destination" style="width:100px;border:solid 1px #FFAB12;"></td></tr>
            <tr><td style="padding-left:5px;"><input style="border:none;" type="image" src="/images/createplan.png"></td><td>目前仅支持国内目的地</td></tr>
        </tbody></table>
      </div>
    </form>

    <div style="padding:10px 0 0 0;">
      <a href="http://www.lvren.cn/qun/thread/tid-82757"><img src="/images/planad.png" width="280"></a>
    </div>

    <style>
      .hotmudi{margin:10px 0;padding:5px; border:#DBE1E6 1px solid;}
      .hotmudi h2{  border-bottom: medium none;font-size: 14px;margin: 0;padding: 0;font-family:Verdana, Arial;}
      .hotmudi ul{margin:0;padding:0;overflow:hidden;}
      .hotmudi ul li{float:left;font-size:14px;margin-right:5px;height:25px;line-height:25px;}
    </style>



    <div class="sbox">
      <div class="stitle">
        <strong>热门目的地</strong>
      </div>
      <div class="sbody">
        <ul class="list-left">
          <li><a href="/index.php?act=plan.plan_list&amp;destination=北京">北京</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=上海">上海</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=广州">广州</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=大连">大连</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=济南">济南</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=哈尔滨">哈尔滨</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=昆明">昆明</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=拉萨">拉萨</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=合肥">合肥</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=成都">成都</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=福州">福州</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=乌鲁木齐">乌鲁木齐</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=西安">西安</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=兰州">兰州</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=太原">太原</a></li>
          <li><a href="/index.php?act=plan.plan_list&amp;destination=郑州">郑州</a></li>
        </ul>
      </div>
    </div>




    <div class="sbox">
      <div class="stitle">
        <strong>最新旅行计划</strong>
      </div>

      <div class="sbody">
        <ul class="gray-dot">
          <li>
            <a href="/plan/523005/" title="周庄">周庄</a>
          </li>
          <li>
            <a href="/plan/523004/" title="疯狂寻根">疯狂寻根</a>
          </li>
          <li>
            <a href="/plan/523003/" title="拉萨">拉萨</a>
          </li>
          <li>
            <a href="/plan/523002/" title="承德旅行计划">承德旅行计划</a>
          </li>
          <li>
            <a href="/plan/523001/" title="北京旅行计划">北京旅行计划</a>
          </li>
          <li>
            <a href="/plan/523000/" title="泰山、衡山、恒山、嵩山、五台山自助行">泰山、衡山、恒山、嵩山、五台山自助行</a>
          </li>
          <li>
            <a href="/plan/522998/" title="阿坝旅行计划">阿坝旅行计划</a>
          </li>
          <li>
            <a href="/plan/522997/" title="中国最北 漠河之旅">中国最北 漠河之旅</a>
          </li>
          <li>
            <a href="/plan/522996/" title="丽江-香格里拉-大理-西双版纳-昆明 12日游">丽江-香格里拉-大理-西双版纳-昆明</a>
          </li>
          <li>
            <a href="/plan/522995/" title="阳朔休闲游-遇龙河水战、西街狂欢">阳朔休闲游-遇龙河水战、西街狂欢</a>
          </li>
          <li>
            <a href="/plan/522994/" title="西安吧">西安吧</a>
          </li>
          <li>
            <a href="/plan/522993/" title="黄山旅行计划">黄山旅行计划</a>
          </li>
          <li>
            <a href="/plan/522992/" title="我要去丽江">我要去丽江</a>
          </li>
          <li>
            <a href="/plan/522991/" title="探访底蕴深厚的绍兴">探访底蕴深厚的绍兴</a>
          </li>
          <li>
            <a href="/plan/522990/" title="旅行计划">旅行计划</a>
          </li>
          <li>
            <a href="/plan/522989/" title="大朝台">大朝台</a>
          </li>
          <li>
            <a href="/plan/522988/" title="滁州旅行计划">滁州旅行计划</a>
          </li>
          <li>
            <a href="/plan/522987/" title="青岛旅行计划">青岛旅行计划</a>
          </li>
          <li>
            <a href="/plan/522986/" title="南京旅行计划">南京旅行计划</a>
          </li>
          <li>
            <a href="/plan/522985/" title="中国的最北端">中国的最北端</a>
          </li>
          <li>
            <a href="/plan/522984/" title="北京之旅">北京之旅</a>
          </li>
          <li>
            <a href="/plan/522983/" title="北京旅行计划">北京旅行计划</a>
          </li>
          <li>
            <a href="/plan/522982/" title="北京旅行计划">北京旅行计划</a>
          </li>
          <li>
            <a href="/plan/522981/" title="哦吗你北美红">哦吗你北美红</a>
          </li>
          <li>
            <a href="/plan/522980/" title="西藏">西藏</a>
          </li>
          <li>
            <a href="/plan/522979/" title="山东7日">山东7日</a>
          </li>
          <li>
            <a href="/plan/522978/" title="绥化开始随心周游，">绥化开始随心周游，</a>
          </li>
          <li>
            <a href="/plan/522977/" title="安庆山水三日游">安庆山水三日游</a>
          </li>
          <li>
            <a href="/plan/522976/" title="丽江">丽江</a>
          </li>
          <li>
            <a href="/plan/522975/" title="赖在清迈">赖在清迈</a>
          </li>
        </ul>
      </div>
    </div>



  </div>

  <div class="clear"></div>

</div>
