<p id="notice"><%= notice %></p>
<div>
  <ul class="tc-nav-listb">
    <li>您的位置：</li>
    <li><a href="http://www.lvren.cn" title="旅人网">旅人网</a></li>
    <li class="tc-line">»</li>
    <li><a href="/" title="旅人旅游目的地">目的地</a></li>
    <li class="tc-line">»</li>
    <li><a href="/plan/522555/" title="法国撒的">法国撒的</a></li>
  </ul>    
</div>

<h1><%= @plan.name %></h1>

<div class="sbox">

  <div class="sbody sbg">

    <div class="left" style="margin:0 10px 10px 0; text-align:center;">

      <div style="border:#e0e0e0 1px solid;background:#F5F5F5; text-align:center; width:160px; height:160px; ">
        <div style="margin-top:65px;">
          <a href="/index.php?act=plan.logo&amp;id=522555" class="blue uline">添加封面</a>
        </div>
      </div>
    </div>


    <div class="left" style="width:360px; padding-top:-10px;">
      <div>从&nbsp;<%= @plan.start_off_place %>&nbsp;出发</div>
      <div style="color:#999999;margin:5px 0;">
        <%= @plan.description %>
      </div>
      <%= link_to '编辑概要', edit_plan_path(@plan), :class => "btn-blue-s" %>
      <a href="/myplan/522555" class="btn-blue-s">安排日程</a>
      <a href="/plan/iprint/522555" class="btn-blue-s">打印</a>
      <%= link_to '删除', @plan, :confirm => "确定要删除吗？", :method => :delete, :class => "gray uline" %>
    </div>

    <div class="right" style="margin:0 20px; width:320px; border-left:#F5F5F5 1px solid; overflow:hidden; height:160px; padding-left:10px;">
      <div class="left" style="margin-right:10px;"><img height="59" width="59" src="http://5.pic.lvren.cn/face/59_59/1284/1284246_150.jpg"></div>
      <div class="left">
        <div>
          <%= link_to @plan.user.email, plan_path(@plan), :class => "blue uline", :target => "_blank" %>
        </div>
        <div style="line-height:2em;">
          创建于：<%= @plan.created_at %>
        <br>
        <%= link_to '旅行计划', personal_plans_path(:user => @plan.user) %><span class="gray">(<%= @plan.user.plans.count %>)</span>&nbsp;
        <a href="http://www.lvren.cn/track/user/uid-1284246/type-2">想去的地方</a>
        <br>
        <br>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <hr class="gray">

  <div class="clear" style="margin:5px;">
    推荐给朋友：
    <br>
    <span style="border:#999 1px solid; line-height:22px; display:inline-block; padding:0 3px; width:260px; color:#999;"><%= plan_url(@plan) %></span>
  </div>
</div>
</div>

<div id="main" class="new">

  <div class="clear" style="margin-top:20px;"></div>

  <div id="navPlanMenu">

    <ul>
      <li class="current" key="days">日程安排</li>
      <li class="" key="baggage_list">行李清单</li>
      <li class="" key="budget">旅行预算</li>
      <li class="" key="map">地图</li>
      <li class="" key="print">打印版</li>
    </ul>

    <div class="right">
    </div>

    <div class="clear"></div>
  </div>

  <div id="days">
    <%= render 'schedules/schedule' %>
    <% if current_user != nil && current_user.id == @plan.user_id %>
      <%= render 'schedules/create_schedule' %>
    <% end %>
  </div>

  <div id="baggage_list" plan_id="<%= @plan.id %>" style="display:none;"></div>

  <div id="budget" style="display:none;">
  </div>

  <div id="map" style="display:none;">
  </div>

  <div id="print" style="display:none;">
  </div>

  <div class="sbox">
    <div class="stitle">
      <strong>旅友评论</strong>
    </div>

    <div class="sbody">


      <div id="comments_logo">
        <img src="http://5.pic.lvren.cn/face/50_50/1284/1284246_150.jpg" onerror="this.src='/images/nopic_user_50_50.jpg';" height="50" width="50">
      </div>

      <div id="comments_input">
        <form id="frmComment" name="frmComment" method="post">
          <div class="clear">

            <div>
              <textarea id="_comment_content" name="content" cols="50" rows="3" style=" width:100%; height:60px;margin-bottom:5px;"></textarea>
            </div>

            <div class="clear">
              <input id="_comment_submit" name="_submit" type="button" value="发表评论" class="btn btn_def" onmouseout="this.className='btn btn_def'" onmouseover="this.className='btn btn_def_hv'">

            </div>
          </div>
          <input id="_comment_score" name="score" type="hidden" value="">
          <input id="_comment_type" name="type" type="hidden" value="">
          <input id="_comment_ownerid" name="ownerid" type="hidden" value="">
          <input id="_comment_replyid" name="replyid" type="hidden" value="">
        </form>

      </div>





    </div>
  </div>


  <script type="text/javascript">
    <!--
    var _userid = 1284246;
    -->
    </script>
    <script type="text/javascript" src="/js/comment.js"></script>

  </div>

  <div id="right" class="new">


    <div class="sbox">
      <div class="stitle">
        <% if current_user != nil && current_user == @plan_user %>
          <strong>我的旅行计划</strong>
        <% else %>
          <strong><%= @plan_user.email %>的旅行计划</strong>
        <% end %>
      </div>
      <div class="sbody">
        <ul class="gray-dot">
          <% @personal_plans.each do |plan| %>
            <li>
              <%= link_to plan.name, plan %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="sbox">
      <div class="stitle">
        <strong>相类似旅行计划</strong>
      </div>
      <div class="sbody">
        <ul style="line-height:2em;" class="gray-dot">
          <li style="white-space: nowrap;text-overflow: ellipsis; "><a href="/plan/522555">法国撒的</a></li>
        </ul>
      </div>
    </div>

    <div class="sbox">
      <div class="stitle">
        <strong>本计划游玩项目</strong>
      </div>
      <div class="sbody">
        <ul>
          <% @attractions.each do |attraction| %>
            <li style="line-height:1.5em; margin-bottom:10px;list-style:none;">
              <div style="text-align:center;">
                <%= link_to image_tag("http://5.pic.lvren.cn/scenic/180_100/20110401/23059830_EhJOxF.jpg", :width => 180, :height => 100), '#', :class => "scenic_logo", :style => "width:186px; margin:auto; height:106px;" %>
                <%= link_to attraction.name, '#', :class => 'blue' %>
              </div>
            </li>
          <% end %>
        </ul>        
      </div>
    </div>

  </div>
  <div class="clear"></div>
