<!DOCTYPE html>
<html>
  <head>
    <title>TravelPlan</title>
    <%= stylesheet_link_tag :all %>

    <%= javascript_include_tag 'jquery-1.5.1.min.js', 'jquery-ui-1.8.13.custom.min.js', 'autocomplete-rails.js', 'rails.js', 'jquery.datePicker.js','date.js', 'rails.validations.js', 'plan.js', 'activity.js','add_journey.js'%>
    <%= csrf_meta_tag %>
    <script type='text/javascript'>
      Date.format = 'yyyy-mm-dd';
      $(function(){
          $("#plan_start_off_date").datePicker();
          });
    </script>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="container" class="plan" style="background:#FFFFFF;">
      <%= yield %>
      <div class="clear"></div>
    </div>
    <%= render 'layouts/footer' %>
    <div id="toolBackTo" class="back-to" style="">
      <%= link_to_function '返回顶部', "onclick='window.scrollTo(0,0);return false;'", :class => "back-top" %>
      <%= link_to '返回首页', root_path, :class => "back-home" %>
    </div>
  </body>
</html>
